<% provide(:title, "Help") %>
<!DOCTYPE html>
<div class="center">
    <h1>What is Trapedia?</h1>
    <p>
      Trapediaは海外旅行を考えている人向けの情報収集プラットフォームです．</br>
      海外旅行のプランを立てる際，言語の違いからくる不安や安全面等の海外旅行特有の条件があると思います．</br>
      旅行に行かれた方はその経験を<%= link_to "投稿", form_path %>し情報をシェア，これから旅行に行かれる方は投稿された経験を<%= link_to "検索", find_path %>しより良い旅行プランを立てましょう．</br>
    </p>
</div>
