<div class="sqere_background", style="background-image:url(<%= asset_path "Antelope7.jpg" %>)" data-stellar-background-ratio="0.5"/>
  <div class="center">
    <h1>Welcome to the Trapedia</h1>
    <h2>
      if this is the first time of visiting this page for you, check the <%= link_to "HELP", help_path %> page.
    </h2>
    <h2>
      Do you wanna <%= link_to "FIND", find_path %> the reports with various condition?</br>
      Do you wanna <%= link_to "POST", form_path %> your memoirs?</br>
      Do you wanna <%= link_to "SIGN UP", new_user_path %>?</br>
    </h2>
  </div>
</div>
