<% if @report.favorited_by? current_user %>
    <%= link_to "★", report_favorites_path(@report), method: :delete, remote: true %>
  <% else %>
  <%= link_to "☆", report_favorites_path(@report), method: :post, remote: true %>
  <% end %>
<%= @report.favorites.count %>
