<% provide(:title, 'All users') %>
<div class="center">
  <h1>All users</h1>
</div>
<%= will_paginate %>
<ul class="users">
  <% list = [] %>
  <% @users.each do |user| %>
      <% @favorited_count = 0 %>
      <% user.reports.each do |report| %>
        <% @favorited_count += report.favorites.count %>
      <% end %>
      <% list.push([user.name, @favorited_count, user])%>
  <% end %>
  <% list = list.sort_by{ |_,b,_| b }.reverse %>
  <% list.each do |l| %>
  <li class="center"><%= link_to l[0], l[2] %> お気に入りされた数：<%= l[1] %></li>
  <% end %>

</ul>
<%= will_paginate %>
