<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      お気に入り体験談</br>
      <% @favorited_reports.each do |f| %>
        <li><%= link_to f.title, f %> posted by <%= link_to f.user.name, f.user %></li>
      <%end%>
    </section>
  </aside>
  <div class="col-md-4">
    <h3>体験談 (<%= @user.reports.count %>)</h3>
    <% if @user.reports.any? %>
      <ol class="reports">
        <%= render @reports %>
      </ol>
    <% end %>
  </div>
</div>
