@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
.alert{
    font-size: 1.5em;
    padding-top: 40px;
    text-align: center;
    @extend .alert-danger;
    li{
      text-align: center;
    }
}


$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* universal */

body {
  margin: 0px;
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.sqere_background {
  // margin-left: 0px;
  // margin-right: 0px
  h1 {
    padding-top: 50px;
    font-size: 3em;
    color: #FFFFFF;
  }
  h2 {
    font-size: 2em;
    line-height: 1.5;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;
  }
  width: 100%;
  height: 620px;
  // margin: 0px;
  /* 画像を上下左右中央寄せ */
  background-position: center center;
  /* タイル状には並べないように指定 */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  // background-attachment: fixed;
  /* 表示するディスプレイの大きさに基づいて、背景画像を縦横比を固定しながら調整 */
  background-size: 100% auto;
  // background-size: 1920px 1080px;

  /* 画像が読み込まれる前の背景色の指定 */
  // background-color: #464646;
  // background-color: rgba(255, 0, 0, 0.5);

}

.center {
  text-align: center;
  h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 4em;
  }
  p {
    line-height: 2;
    font-size: 1.2em;
  }

}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

// h1 {
//   font-size: 3em;
//   letter-spacing: -2px;
//   margin-bottom: 30px;
//   text-align: center;
// }
//
// h2 {
//   font-size: 2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
//   color: $gray-light;
// }

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  // margin-top: 45px;
  // padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// table {
// 	border-collapse: collapse;
//   text-align: center;
// }
// th {
// 	border: solid 1px;
// 	padding: 0.5em;
// }
//
// td {
// 	border: solid 1px;
// 	padding: 0.5em;
// }

/* forms */
.title_field{
  width: 60%;;
}
.submit{
  width: 45px;
  float: right;
  margin-right: 55px;
  margin-bottom: 10px;

}
.cost_field, .safety_field{
  width: 40px;
}
select {
  text-align: -webkit-center;
  width: 160px;
}

.col-md-4{
  padding-top: 40px;
  padding-bottom: 10px;
}
.col-md-6{
  padding-top: 20px;
  padding-bottom: 10px;
  dt {
    float: left;
    clear: left;
    width: 70px;
    margin-bottom: 10px;
  }
  dd {
    float: left;
    margin-bottom: 10px;
  }
  .title_field{
    width: 60%;
  }
}


input .uneditable-input {
  border: 1px solid #bbb;
  width: 50%;
  margin-bottom: 15px;
  @include box_sizing;
}

.search {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }

}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* USer index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.repo{
  padding-top: 40px;
  padding-bottom: 10px;
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  h2 {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-weight: normal;
  }
  li {
    // margin-left: 300px;
  }
}

.user_info {
  margin-left: 60px;
}

/* reports */

.reports {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}
