
  <%= form_for(@report) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <aside class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3" style="background-color: #ffffff;">
      <div class="center">
        <h1><%= yield(:h1)%></h1>
      </div>
    <%= f.label "タイトル"%>
    <%= f.text_field :title, :placeholder => "30文字以内", :class => "title_field"%>

  <br/>
    <div class="col-md-6 col-xs-6 col-sm-6"style="background-color: #ffffff;">
      <dt><%= f.label "地域" %></dt>
      <% area_options = Area.order(:id).map { |c| [c.name, data: { children_path: area_countries_path(c) }] } %>
      <dd><%= f.select :abroadArea, area_options, { include_blank: true }, class: 'select-parent' %></dd>
      <br/>
      <dt><%= f.label "国" %></dt>
      <% countries = @destination.area.try(:countries) || [] %>
      <% country_options = countries.map { |c| [c.name] } %>
      <dd><%= f.select :abroadCountry, country_options, { include_blank: true }, class: 'select-children'%></dd>
      <br/>
      <dt><%= f.label "目的" %></dt>
      <dd><%= f.select :purpose , options_for_select(["観光", "ショッピング", "世界遺産", "自然"]), :include_blank => true %></dd>
      <br/>
    </div>
    <div class="col-md-6 col-xs-6 col-sm-6 "style="background-color: #ffffff;">
      <dt><%= f.label "費用" %></dt>
      <dd><%= f.text_field :cost, :class => "cost_field" %></dd>
      <br/>
      <dt><%= f.label "安全度" %></dt>
      <dd><%= f.text_field :safety, :class => "safety_field" %></dd>
    </div>
  </aside>
  <aside class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3" style="background-color: #ffffff;">
    <%= f.label "文章" %></br>
    <%= f.text_area :content, size: "90x10" %>
    <br/>
    <%=f.label :image,"ユーザー画像" %>
    <%= f.file_field :image %>
    <br/>
    <div class="center">
    <%= f.submit yield(:button_text) %>
  </div>
  </aside>
    <% end %>
