<li id="report-<%= report.id %>">
  <span class="title"><%= link_to report.title, report %></span>
  ☆<%= report.favorites.count %>
  <span class="timestamp">Posted <%= time_ago_in_words(report.created_at) %> ago.</span>
  <% if report.user.id == current_user.id %>
    <%= link_to "体験談を編集", edit_report_path(report.id) %>
    <%= link_to "体験談を削除", report, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</li>
