<div class="center">
  <h1>体験記検索</h1>
  <!-- <%= @destination.name %> -->
</div>

<%= search_form_for @q do |f| %>
  <aside class="col-md-6 col-md-offset-3"style="background-color: #eaeaea;">
    <div class="col-md-6">
      <dt><%= f.label :abroadArea, "地域" %></dt>
      <% area_options = Area.order(:id).map { |c| [c.name, data: { children_path: area_countries_path(c) }] } %>
      <dd><%= f.select :abroadArea_eq, area_options, { include_blank: true }, class: 'select-parent', remote: true %></dd>
      </br>
      <dt><%= f.label :abroadCountry, "国" %></dt>

      <% countries = @destination.area.try(:countries) || [] %>
      <% country_options = countries.map { |c| [c.name] } %>
      <dd><%= f.select :abroadCountry_eq, country_options, { include_blank: true }, class: 'select-children', remote: true%></dd>

      </br>
      <dt><%= f.label :purpose, "目的" %></dt>
      <dd><%= f.select :purpose_eq, options_for_select(["観光", "ショッピング", "世界遺産", "自然"]), :include_blank => true, :class => "select" %></dd>
      </div>
    <div class="col-md-6">
      <dt><%= f.label :cost, "費用" %></dt>
      <dd><%= f.search_field :cost_gteq, :class => "cost_field" %> ~  <%= f.search_field :cost_lteq, :class => "cost_field" %> 万円</dd>
      </br>
      <dt><%= f.label :safety, "安全度" %></dt>
      <dd><%= f.search_field :safety_gteq, :class => "safety_field" %> ~  <%= f.search_field :safety_lteq, :class => "safety_field" %></dd>
      </br></br></br>
      <%= f.submit "検索", :class => "submit" %>
    </div>
  </aside>
<% end %>
