
<div class="col-md-6 col-md-offset-3" style="background-color: #ffffff;">
  <%= will_paginate %>
  <table class="table table-bordered table-striped" >
    <thead>
      <tr>
        <th>タイトル</th>
        <th>費用</th>
        <th>安全度</th>
        <th>地域</th>
        <th>国</th>
        <th>目的</th>
        <th>お気に入り数</th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
          <tr>
            <td><%= link_to report.title, report %></td>
            <td><%= report.cost %></td>
            <td><%= report.safety %></td>
            <td><%= report.abroadArea %></td>
            <td><%= report.abroadCountry %></td>
            <td><%= report.purpose %></td>
            <td><%= report.favorites.count %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
