<div class="repo">
<h1><%= @report.title %>
  <% if logged_in? %>
    <div id="re">
    <% if @report.favorited_by? current_user %>
      <%= link_to "★", report_favorites_path(@report), method: :delete, remote: true%>
    <% else %>
      <%= link_to "☆", report_favorites_path(@report), method: :post, remote: true %>
    <% end %>
    <%= @report.favorites.count %>
    </div>
  <% else %>
    <% store_location %>
    <%= link_to "☆", report_favorites_path(@report), method: :post %>
    <%= @report.favorites.count %>
  <% end %>
</h1>

<aside class="col-md-6 col-md-offset-3">
<h2>
<li>費用：<%= @report.cost %></li></br>
<li>安全度：<%= @report.safety %></li></br>
<li>地域：<%= @report.abroadArea %></li></br>
<li>国：<%= @report.abroadCountry %></li></br>
<li>目的：<%= @report.purpose %></li></br>
<li>内容：<%= @report.content %></li>
</h2>
<% if @report.image? %>
  <%= image_tag @report.image.url %>
<% end %>
</aside>

<!-- <aside class="col-md-2 col-md-offset-10"> -->

<!-- </aside> -->
</div>
